
@{
    ViewData["Title"] = "Report";
    ViewData["PageName"] = "Transaksi_Report";
    ViewData["Category1"] = "Report";



}

@section Header {
}

@section PageHeading {
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-th-list text-primary"></i> Transaksi
            @*<small>
                    Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap.
                </small>*@
        </h1>
    </div>
}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewData["Title"]
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form>
                        <div class="form-group">
                            <label class="form-label">File (Browser)</label>
                            <div class="form-group">

                                <select id="dropdownStatus" class="form-control col-md-12" type="text" name="dropdownStatus" required></select>
                                <div class="invalid-feedback">
                                    Please Select Merk
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="example-date">Date</label>
                                <input class="form-control col-auto col-3" id="MaxDate" type="date" name="date" value="" data-date-format="DD/MM/yyyy">
                            </div>

                        </div>
                        <div class="form-group">
                            <button id="save" class="btn btn-outline-success waves-effect waves-themed">Submit</button>
                        </div>
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var url =""
        $(document).ready(function () {
            moment.locale('ID');
            url = "@ViewBag.url_api";
            var fileName = "";
            var values;
            $.ajax({
                type: 'GET',
                url: url + '/Transaction/GetAllStatus',

                success: function (response) {
                    if (response.isSuccess) {
                        $.each(response.listStatus, function (key, entry) {
                            $("#dropdownStatus").append($('<option></option>').attr('value', entry.id).text(entry.name));
                        })
                    } else {
                        toastr["error"](response.message);
                    }
                }
            });
        });

        $('#save').on('click', function (e) {
            e.preventDefault();
            date = new Date($("#MaxDate").val());
            debugger;
            var values = {
                TransactionStatusID: $("#dropdownStatus").val(),
                endDate: date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
            }
        
            post_to_url(url + "Transaction/DownloadTransactionByStatus?TransactionStatusID=" + 1 + "&ID=" + 10, values,"get");
      
        });
    </script>
}