


@{


    ViewData["Title"] = "User Profile";
    ViewData["PageName"] = "User_USerProfile";
    ViewData["Category1"] = "User Profile";
}


@section Header {
}

@section PageHeading {
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-th-list text-primary"></i> User Profile
            @*<small>
                    Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap.
                </small>*@
        </h1>
    </div>
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    User Profile
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="container">


                        <form class="needs-validation" novalidate>
                            <div class="preview text-center">
                                @*<img id="ImageProfile" class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200" />*@
                                <img id="uploadImage" src="http://simpleicon.com/wp-content/uploads/account.png" width="200" height="200" alt="your image" />
                                <div class="browse-button">
                                    <input type="hidden" class="form-control" id="ImagePath" />
                                    <input type='file' id="imgInp" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input id="email" class="form-control" type="text" name="email" placeholder="Enter Your Full Name" disabled="disabled" />

                            </div>
                            <div class="form-group">
                                <label>Full Name:</label>
                                <input id="name" class="form-control" type="text" name="fullname" required placeholder="Enter Your Full Name" />
                                <div class="invalid-feedback">
                                    Please insert yourname
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Kota</label>

                                <select id="dropdownKota" class="form-control col-md-12" type="text" name="dropdownKota" required></select>
                                <div class="invalid-feedback">
                                    Please Select Kota
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Telepon:</label>
                                <input class="form-control" id="telp" type="text" name="telepon" required placeholder="Nomor Telepon" />
                                <div class="invalid-feedback">
                                    Please insert yourname
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Facebook:</label>
                                <input class="form-control" id="facebook" type="text" name="facebook" placeholder="Facebook" />
                            </div>


                            <div class="form-group">
                                <label>Instagram:</label>
                                <input class="form-control" id="instagram" type="text" name="instagram" placeholder="Instagram" />

                            </div>

                            <div class="form-group">
                                <label>Gender:</label><br />
                                <label><input type="radio" id="radio_pria" name="gender" required value="Pria" /> Pria</label>
                                <label><input type="radio" id="radio_wanita" name="gender" required value="Wanita" /> Wanita</label>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btn-save" class="btn  btn-block btn-primary waves-effect waves-themed">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
          url = "@ViewBag.url_api";
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        var values =
        {
            Token: Cookies.get("access_token")
        }
        $.ajax({
            url: url + "User/GetPost",
            contentType: 'application/json',
            dataType: 'json',
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
            },
            data: JSON.stringify(values),
            success: function (response) {
                if (response.isSuccess) {
                    
                    $("#email").val(response.userProfileModel.email)
                    $("#name").val(response.userProfileModel.name);
                    $("#telp").val(response.userProfileModel.telp);
                    $("#facebook").val(response.userProfileModel.facebook);
                    $("#instagram").val(response.userProfileModel.ig);
                    $('#uploadImage').attr('src',response.userProfileModel.photopath)
                    if (response.userProfileModel.jenisKelamin == "Pria") {
                        $("#radio_pria").attr('checked', true);
                    }
                    else if (response.userProfileModel.jenisKelamin == "Wanita"){

                        $("#radio_wanita").attr('checked', true);
                    }
                } else {
                    toastr["error"](response.message);
                }
            },
            error: function (jqXHR, text, errorThrown) {
                console.log(jqXHR + " " + text + " " + errorThrown);
            }
        });
        $.ajax({
            url: url + "Kota/GetAllKotaWithoutFilter",
            contentType: 'application/json',
            dataType: 'json',
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
            },
            success: function (response) {
                if (response.isSuccess) {
                    $.each(response.listKota, function (key, entry) {
                        $("#dropdownKota").append($('<option></option>').attr('value', entry.id).text(entry.name));
                    })
                } else {
                    toastr["error"](response.message);
                }
            },
            error: function (jqXHR, text, errorThrown) {
                console.log(jqXHR + " " + text + " " + errorThrown);
            }
        });

        var forms = document.getElementsByClassName('needs-validation');
        var button = document.getElementById("btn-save");

        var validation = Array.prototype.filter.call(forms, function (form) {
            button.addEventListener('click', function (event) {
                
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {

                    LoadingMask.show();
                    var jenisKelamin = "";
                    if ($("#radio_pria").attr('checked') == 'checked') {
                        jenisKelamin = "Pria";
                    }
                    else if ($("#radio_wanita").attr('checked') == 'checked'){

                        jenisKelamin = "Wanita";
                    }

                    var values = {
                        Email: $('#email').val(),
                        Nama: $('#name').val(),
                        KotaId: $('#dropdownKota').val(),
                        Telp: $('#telp').val(),
                        Alamat: $('#alamat').val(),
                        Facebook: $('#facebook').val(),
                        Instagram: $('#instagram').val(),
                        Token: Cookies.get("access_token"),
                        JenisKelamin: jenisKelamin,
                        Photopath: $('#uploadImage').attr('src')
                    };
                    
                    $.ajax({
                        url: url + "User/UpdateProfileSalesman",
                        contentType: 'application/json',
                        dataType: 'json',
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                        },
                        data: JSON.stringify(values),
                        success: function (response) {
                            if (response.isSuccess) {
                                $("#ModalEdit").modal('hide');
                                $(document.body).removeClass('modal-open');
                                $('.modal-backdrop').remove();
                                toastr["success"](response.message);
                                $('#tableBarang').DataTable().ajax.reload();
                                LoadingMask.hide();
                            } else {
                                toastr["error"](response.message);
                                LoadingMask.hide();
                            }
                        },
                        error: function (jqXHR, text, errorThrown) {
                            console.log(jqXHR + " " + text + " " + errorThrown);
                        }
                    });

                }
                form.classList.add('was-validated');
            });
        });
        $("#imgInp").change(function () {
            if ($("#imgInp").val() == "") {
                $('#ImagePath').val("");
                return;
            }

            var inputFile = $('#imgInp')[0].files[0];
            var pathFile = inputFile.name;
            var ekstensiOk = /(\.jpg|\.png)$/i;
            if (!ekstensiOk.exec(pathFile)) {
                alert('Silakan upload file yang memiliki ekstensi .jpg/.png/');
                inputFile.name = '';
                return false;
            }
            // your ajax submit
            var formData = new FormData();
            formData.append('file', $('#imgInp')[0].files[0]);
            //formData.append('FileToBeDelete', FileLogoTobeDelete);
            LoadingMask.show();
            $.ajax({
                type: 'post',
                url: url + 'User/UploadImageProfile',
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                },
                success: function (filename) {
                    debugger
                    fileName = filename;
                    $('.custom-file-label').html(filename);
                    $('#ImagePath').val(filename);
                    $('#uploadImage').attr('src', filename);
                    LoadingMask.hide();
                },
                processData: false,
                contentType: false,
                error: function (response) {
                    LoadingMask.hide();
                    console.log(response);
                }
            });
            LoadingMask.hide();
        });
    </script>
}


