
@page
@model ljgb.UI.Areas.Identity.Pages.Account.ActivationAccountConfirmationModel
@{
    ViewData["Title"] = "activated account confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your account has been activated. Please <a asp-page="./Login">click here to log in</a>.
</p>
