@*@{
        ViewData["Title"] = "HomePage";
        Layout = "~/Views/CMS/HomePage";
    }*@
@{
    ViewData["Title"] = "Homepage";
    ViewData["PageName"] = "CMS_Homepage";
    ViewData["Category1"] = "CMS";
}

@section Header {
}

@section PageHeading {
    @*<div class="subheader">
            <h1 class="subheader-title">
                <i class="subheader-icon fal fa-window"></i> Panels
                <small>
                    Panels can be used in almost any setuation, helping wrap everything in a slick &amp; lightweight container
                </small>
            </h1>
        </div>*@
}
<h1>Homepage</h1>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Homepage @*<span class="fw-300"><i>Merk</i></span>*@
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <form class="needs-validation" novalidate>
                <div class="panel-container show">
                    <div class="panel-content">

                        <input type="hidden" class="form-control" id="DealerID">
                        <input type="hidden" class="form-control" id="MerkID">
                        <!-- datatable start -->
                        <div class="row">
                            <div class="nav flex-column nav-pills col-md-2 col-lg-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Banner</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Sosial Media</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Contact</a>
                                @*<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>*@
                            </div>
                            <div class="tab-content col-md-10 col-lg-10" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-banner1-tab" data-toggle="pill" href="#pills-banner1" role="tab" aria-controls="pills-banner1" aria-selected="true">Banner 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-banner2-tab" data-toggle="pill" href="#pills-banner2" role="tab" aria-controls="pills-banner2" aria-selected="false">Banner 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-banner3-tab" data-toggle="pill" href="#pills-banner3" role="tab" aria-controls="pills-banner3" aria-selected="false">Banner 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-banner4-tab" data-toggle="pill" href="#pills-banner4" role="tab" aria-controls="pills-banner4" aria-selected="false">Banner 4</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-banner1" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="ImagePathBanner1" />
                                                <input type='file' id="imgInp1" />
                                                <img id="uploadBanner1" src="#" width="200" height="200" alt="Banner 1" />
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-banner2" role="tabpanel" aria-labelledby="pills-banner2-tab">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="ImagePathBanner2" />
                                                <input type='file' id="imgInp2" />
                                                <img id="uploadBanner2" src="#" width="200" height="200" alt="Banner 2" />
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-banner3" role="tabpanel" aria-labelledby="pills-banner3-tab">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="ImagePathBanner3" />
                                                <input type='file' id="imgInp3" />
                                                <img id="uploadBanner3" src="#" width="200" height="200" alt="Banner 3" />
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-banner4" role="tabpanel" aria-labelledby="pills-banner4-tab">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="ImagePathBanner4" />
                                                <input type='file' id="imgInp" />
                                                <img id="uploadBanner4" src="#" width="200" height="200" alt="Banner 4" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                    <div>
                                        <div class="form-group">
                                            <label>Facebook:</label>
                                            <input class="form-control" id="Facebook" type="text" name="Facebook" placeholder="Facebook" />

                                        </div>

                                        <div class="form-group">
                                            <label>Instagram:</label>
                                            <input class="form-control" id="Instagram" type="text" name="Instagram" placeholder="Instagram" />

                                        </div>

                                        <div class="form-group">
                                            <label>Twitter:</label>
                                            <input class="form-control" id="Twitter" type="text" name="Twitter" placeholder="Twitter" />

                                        </div>

                                        <div class="form-group">
                                            <label>Youtube:</label>
                                            <input class="form-control" id="Youtube" type="text" name="Youtube" placeholder="Youtube" />

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <div class="form-group">
                                        <label>Contact Center:</label>
                                        <input class="form-control" id="ContactCenter" type="text" name="ContactCenter" placeholder="Contact Center" />

                                    </div>
                                </div>
                                @*<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>*@

                            </div>

                        </div>
                        <div>
                            <div class="modal-footer">
                                <button type="button" id="btn-save" class="btn btn-success waves-effect waves-themed"> <span class="fal fa-check mr-1"></span>Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts{
    <script type="text/javascript">
    
        var  url = "@ViewBag.url_api";
           
        $("#imgInp1").change(function () {
                debugger;
                if ($("#imgInp1").val() == "") {
                    //$('#ImagePath').val("");
                    return;
                }

                var inputFile = $('#imgInp1')[0].files[0];
                var pathFile = inputFile.name;
                var ekstensiOk = /(\.jpg|\.png)$/i;
                if (!ekstensiOk.exec(pathFile)) {
                    alert('Silakan upload file yang memiliki ekstensi .jpg/.png/');
                    inputFile.name = '';
                    return false;
                }
                // your ajax submit
                var formData = new FormData();
                formData.append('file', $('#imgInp1')[0].files[0]);
                //formData.append('FileToBeDelete', FileLogoTobeDelete);
                LoadingMask.show();
                $.ajax({
                    type: 'post',
                    url: url + 'Barang/UploadImageBarang',
                    data: formData,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                    },
                    success: function (filename) {

                        fileName = filename;
                        $('.custom-file-label').html(filename);
                        $('#ImagePathBanner1').val(filename);
                        $('#uploadBanner1').attr('src', filename);
                        LoadingMask.hide();
                    },
                    processData: false,
                    contentType: false,
                    error: function (response) {
                        LoadingMask.hide();
                        console.log(response);
                    }
                });
                LoadingMask.hide();
        });
        $("#imgInp2").change(function () {
            debugger;
            if ($("#imgInp2").val() == "") {
                //$('#ImagePath').val("");
                return;
            }

            var inputFile = $('#imgInp2')[0].files[0];
            var pathFile = inputFile.name;
            var ekstensiOk = /(\.jpg|\.png)$/i;
            if (!ekstensiOk.exec(pathFile)) {
                alert('Silakan upload file yang memiliki ekstensi .jpg/.png/');
                inputFile.name = '';
                return false;
            }
            // your ajax submit
            var formData = new FormData();
            formData.append('file', $('#imgInp2')[0].files[0]);
            //formData.append('FileToBeDelete', FileLogoTobeDelete);
            LoadingMask.show();
            $.ajax({
                type: 'post',
                url: url + 'Barang/UploadImageBarang',
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                },
                success: function (filename) {

                    fileName = filename;
                    $('.custom-file-label').html(filename);
                    $('#ImagePathBanner2').val(filename);
                    $('#uploadBanner2').attr('src', filename);
                    LoadingMask.hide();
                },
                processData: false,
                contentType: false,
                error: function (response) {
                    LoadingMask.hide();
                    console.log(response);
                }
            });
            LoadingMask.hide();
        });
        $("#imgInp3").change(function () {
            if ($("#imgInp3").val() == "") {
                //$('#ImagePath').val("");
                return;
            }

            var inputFile = $('#imgInp3')[0].files[0];
            var pathFile = inputFile.name;
            var ekstensiOk = /(\.jpg|\.png)$/i;
            if (!ekstensiOk.exec(pathFile)) {
                alert('Silakan upload file yang memiliki ekstensi .jpg/.png/');
                inputFile.name = '';
                return false;
            }
            // your ajax submit
            var formData = new FormData();
            formData.append('file', $('#imgInp3')[0].files[0]);
            //formData.append('FileToBeDelete', FileLogoTobeDelete);
            LoadingMask.show();
            $.ajax({
                type: 'post',
                url: url + 'Barang/UploadImageBarang',
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                },
                success: function (filename) {

                    fileName = filename;
                    $('.custom-file-label').html(filename);
                    $('#ImagePathBanner3').val(filename);
                    $('#uploadBanner3').attr('src', filename);
                    LoadingMask.hide();
                },
                processData: false,
                contentType: false,
                error: function (response) {
                    LoadingMask.hide();
                    console.log(response);
                }
            });
            LoadingMask.hide();
        });
        $("#imgInp4").change(function () {
            debugger;
            if ($("#imgInp4").val() == "") {
                //$('#ImagePath').val("");
                return;
            }

            var inputFile = $('#imgInp4')[0].files[0];
            var pathFile = inputFile.name;
            var ekstensiOk = /(\.jpg|\.png)$/i;
            if (!ekstensiOk.exec(pathFile)) {
                alert('Silakan upload file yang memiliki ekstensi .jpg/.png/');
                inputFile.name = '';
                return false;
            }
            // your ajax submit
            var formData = new FormData();
            formData.append('file', $('#imgInp4')[0].files[0]);
            //formData.append('FileToBeDelete', FileLogoTobeDelete);
            LoadingMask.show();
            $.ajax({
                type: 'post',
                url: url + 'Barang/UploadImageBarang',
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                },
                success: function (filename) {

                    fileName = filename;
                    $('.custom-file-label').html(filename);
                    $('#ImagePathBanner4').val(filename);
                    $('#uploadBanner4').attr('src', filename);
                    LoadingMask.hide();
                },
                processData: false,
                contentType: false,
                error: function (response) {
                    LoadingMask.hide();
                    console.log(response);
                }
            });
            LoadingMask.hide();
        });

        function MasterCMS(Category, Value, Description) {
            if (Value == null) {
                Value = '';
            }
            var CMSMasterData = {
                //ID: ($("#BarangID").val()) ? $("#BarangID").val() : 0,
                Category: Category,
                Value: Value,
                Description: Description,
            };
            return CMSMasterData;
        }


        $(document).ready(function () {
            $.ajax({
                url: url + "CMS/GetAllMaster",
                contentType: 'application/json',
                dataType: 'json',
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                },
                success: function (response) {
                    if (response.isSuccess) {
                        var banner1 = response.list_CMSMaster.filter(obj => obj.description === 'Banner 1')[0];
                        var banner2 = response.list_CMSMaster.filter(obj => obj.description === 'Banner 2')[0];
                        var banner3 = response.list_CMSMaster.filter(obj => obj.description === 'Banner 3')[0];
                        var banner4 = response.list_CMSMaster.filter(obj => obj.description === 'Banner 4')[0];
                        var facebook = response.list_CMSMaster.filter(obj => obj.description === 'Facebook')[0];
                        var instagram = response.list_CMSMaster.filter(obj => obj.description === 'Instagram')[0];
                        var twitter = response.list_CMSMaster.filter(obj => obj.description === 'Twitter')[0];
                        var youtube = response.list_CMSMaster.filter(obj => obj.description === 'Youtube')[0];
                        var contactCenter = response.list_CMSMaster.filter(obj => obj.description === 'Contact Center')[0];
                        if (typeof banner1  !== "undefined") {
                            $('#uploadBanner1').attr('src', banner1.value);
                            $("#ImagePathBanner1").val(banner1.value);
                        }
                        if (typeof banner2 !== "undefined") {
                            $('#uploadBanner2').attr('src', banner2.value);
                            $("#ImagePathBanner2").val(banner2.value);
                        }
                        if (typeof banner3 !== "undefined") {
                            $('#uploadBanner3').attr('src', banner3.value);
                            $("#ImagePathBanner3").val(banner3.value);
                        }
                        if (typeof banner4 !== "undefined") {
                            $('#uploadBanner4').attr('src', banner4.value);
                            $("#ImagePathBanner4").val(banner4.value);
                        }
                        if (typeof facebook !== "undefined") {
                            $("#Facebook").val(facebook.value);
                        }
                        if (typeof instagram !== "undefined") {
                            $("#Instagram").val(instagram.value);
                        }
                        if (typeof twitter !== "undefined") {
                            $("#Twitter").val(twitter.value);
                        }
                        if (typeof youtube !== "undefined") {
                            $("#Youtube").val(youtube.value);
                        }
                        if (typeof contactCenter !== "undefined") {
                            $("#ContactCenter").val(contactCenter.value);
                        }
                    } else {
                        toastr["error"](response.message);
                    }
                },
                error: function (jqXHR, text, errorThrown) {
                    console.log(jqXHR + " " + text + " " + errorThrown);
                }
            });


             var forms = document.getElementsByClassName('needs-validation');
             var button = document.getElementById("btn-save");

             var validation = Array.prototype.filter.call(forms, function (form) {
                 button.addEventListener('click', function (event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     } else {

                         LoadingMask.show();
                         debugger;
                         var List_CMSMaster = [];
                         List_CMSMaster.push(MasterCMS("Banner", $("#ImagePathBanner1").val(), "Banner 1"));
                         List_CMSMaster.push(MasterCMS("Banner", $("#ImagePathBanner2").val(), "Banner 2"));
                         List_CMSMaster.push(MasterCMS("Banner", $("#ImagePathBanner3").val(), "Banner 3"));
                         List_CMSMaster.push(MasterCMS("Banner", $("#ImagePathBanner4").val(), "Banner 4"));
                         List_CMSMaster.push(MasterCMS("Sosial Media", $("#Facebook").val(), "Facebook"));
                         List_CMSMaster.push(MasterCMS("Sosial Media", $("#Instagram").val(), "Instagram"));
                         List_CMSMaster.push(MasterCMS("Sosial Media", $("#Twitter").val(), "Twitter"));
                         List_CMSMaster.push(MasterCMS("Sosial Media", $("#Youtube").val(), "Youtube"));
                         List_CMSMaster.push(MasterCMS("Contact Center", $("#ContactCenter").val(), "Contact Center"));
                         var values = {
                             List_CMSMaster: List_CMSMaster
                         };
                         //var values = {
                         //    //ID: ($("#BarangID").val()) ? $("#BarangID").val() : 0,
                         //    Category: "Banner",
                         //    Value: $("#ImagePathBanner1").val(),
                         //    Deskription: "Banner 1",
                         //};
                         debugger;
                         $.ajax({
                             url: url + "CMS/SubmitCMSChange",
                             contentType: 'application/json',
                             dataType: 'json',
                             type: "POST",
                             beforeSend: function (xhr) {
                                 xhr.setRequestHeader('Authorization', 'Bearer ' + Cookies.get("access_token"));
                             },
                             data: JSON.stringify({ 'List_CMSMaster': List_CMSMaster }),
                             success: function (response) {
                                 if (response.isSuccess) {
                                     LoadingMask.hide();
                                 } else {
                                     LoadingMask.hide();
                                     toastr["error"](response.message);
                                 }
                             },
                             error: function (jqXHR, text, errorThrown) {
                                 console.log(jqXHR + " " + text + " " + errorThrown);
                             }
                         });

                     }
                     form.classList.add('was-validated');
                 });
             });
        });

       
        </script>
}


